.idea/inspectionProfiles/profiles_settings.xml
/.idea
notebooks_repo/
/tests/__pycache__
/tests/__pycache__
/__pycache__
/app/utils/__pycache__
/app/services/__pycache__
/app/routes/__pycache__
/app/models/__pycache__
/app/forms/__pycache__
/app/__pycache__
